// Header
.navbar-header {
	float: none;

	.header-brand {
		padding: 15px 15px;
	    font-size: 18px;
	    line-height: 20px;
	    height: 50px;

		&,
		:hover,
		:focus,
		:active, {
			color: $brand-primary;
			text-decoration: none;
		}
	}
}

// List
.list-group {
	$mb: 25px;

	.list-group-item {
		overflow: auto;
  	padding: 15px;
  	margin: 0 auto 0;
  	
  	// border: none;
  	
  	&:not(:last-child) {
  		border-bottom: none;
  	}
  	
    &--thumbnail {

    	float: left;
    	max-width: 100%;
			margin-bottom: 0;
			padding: 0;
			border: 0;

    	img {
    		max-width: 100%;
    	}
    }
    
    &--info {
			
			@media (min-width: $screen-sm-min){
				margin-left: $grid-gutter-width/2;
			}

     	h1.title {
     		font-size: 2rem;
      	font-weight: 700;
      	margin-top: 0;
      	margin-bottom: $mb;

      	overflow: hidden;
		    text-overflow: ellipsis;
		    display: -webkit-box;
		    -webkit-box-orient: vertical;
		    -webkit-line-clamp: 2;

			  @media (min-width: $screen-sm-min){
					font-size: 2.5rem;
				}
			}
			
			.date {
				margin-bottom: $mb;
				// font-weight: 700;
			}

     	.description {
     		margin-bottom: $mb;

     		overflow: hidden;
		    text-overflow: ellipsis;
		    display: -webkit-box;
		    -webkit-box-orient: vertical;
		    -webkit-line-clamp: 5;

      	@media (max-width: $screen-xs-max){
      		display: none;
    		}
     	}
    }
 	}
}