body {
	// default font weight
	font-weight: 300;
}

.btn {
	// &:hover:enabled {
	&:hover:not([disabled]) {
		color: darken($brand-primary, 15%);
	}
}

.strong {
	font-weight: 700;
}

.row.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.text-center {
	text-align: center;
}

// fix this. how to style the load-anim div directly?
.loading-animation {
	div {
		margin: 0 auto;
	}
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;

  & .aligner-item {
	  max-width: 50%;
	}
}

