$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// variables
$brand-primary:     #dd99aa;

// breakpoints (according to wireframes)
$small-breakpoint: 	480px;
$medium-breakpoint: 768px;

// custom breakpoint (intermediate small)
// @import "scss/is";

// bootstrap
@import "scss/variables";
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@import "scss/video";

.row.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Header
.navbar-header {
	float: none;

	.header-brand {
		padding: 15px 15px;
	    font-size: 18px;
	    line-height: 20px;
	    height: 50px;

		&,
		:hover,
		:focus,
		:active, {
			color: $brand-primary;
			text-decoration: none;
		}
	}
}

// Pages
.page {

	.page-content {
		max-width: 480px;
		margin: 0 auto;
		padding: 0 $grid-gutter-width/2;
		// background-color: yellow;
		
		@media (min-width: $screen-sm-min){
			max-width: 768px;
		}
	}

	&.list-page {
		
	}

	&.detail-page {

		.page-content {
			padding-bottom: $grid-gutter-width/2;
		}

		h1.title {
			font-weight: 700;
		}
	}
}

// List Page

.list-group {
	$mb: 25px;

	.list-group-item {
		overflow: auto;
  	padding: 15px;
  	margin: 0 auto 15px;
  	
    &--thumbnail {

    	float: left;
    	max-width: 100%;
			margin-bottom: 0;
			padding: 0;
			border: 0;

    	img {
    		max-width: 100%;
    	}
    }
    
    &--info {
			
			@media (min-width: $screen-sm-min){
				margin-left: 15px;
			}

     	h1.title {
     		font-size: 2rem;
      	font-weight: 700;
      	margin-top: 0;
      	margin-bottom: $mb;

      	overflow: hidden;
		    text-overflow: ellipsis;
		    display: -webkit-box;
		    -webkit-box-orient: vertical;
		    -webkit-line-clamp: 2;

			  @media (min-width: $screen-sm-min){
					font-size: 2.5rem;
				}
			}
			
			.date {
				margin-bottom: $mb;
				font-weight: 700;
			}

     	.description {
     		margin-bottom: $mb;

     		overflow: hidden;
		    text-overflow: ellipsis;
		    display: -webkit-box;
		    -webkit-box-orient: vertical;
		    -webkit-line-clamp: 5;

      	@media (max-width: $screen-xs-max){
      		display: none;
    		}
     	}
    }
 	}
}